 <!-- start-taskflow-section -->
                <section class="about-taskflow training section ">
                    <div class="container">
                        <!-- taskflow-wrapper -->
                        <div class="wc-row training-wrapper">
                            <div class="wc-column-6">
                                <!-- taskflow-image -->
                                <div class="training-image" data-aos="fade-right">
                                    {{ image }}<img src="{{ url }}" class="mw-image object-cover" alt="">{{ /image }}
                                </div>
                            </div>
                            <div class="wc-column-6">
                                <!-- taskflow-content -->
                                <div class="training-content" data-aos="fade-left">
                                    <h2 class="mw-sub-title">{{ section_title }}</h2>
                                    <p>{{ description }}</p>
                                    <!-- taskflow-achive-wrapper -->
                                    {{ if button_text }}
                                    <div class="training-two-btn">
                                        <a href="{{ button_link }}" class="btn btn-primary">{{ button_text }}</a>
                                    </div>
                                    {{ /if }}
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- end-taskflow-section -->