 <!-- start-process-section -->
            <section class="process section">
                <div class="container">
                    <div class="process-title" data-aos="fade-right">
                        <h2>{{ section_title }}</h2>
                    </div>
                    <div class="process-wrapper" data-aos="fade-left">
                        {{ recruitment_steps }}
                        <div class="process-round">
                            <h4>{{ step_title }}</h4>
                            <div class="process-round-nub">
                                <h3>0{{ step_number }}</h3>
                            </div>
                        </div>
                        {{ /recruitment_steps }}
                    </div>
                </div>
            </section>
            <!-- end-process-section -->