<section class="about-testimonial testimonial-two section ">
                    <div class="container">
                        <div class="testimonial-two-title" data-aos="fade-down">
                            <h2 class="mw-sub-title">{{ section_title }}</h2>
                        </div>
                        <div class="testimonial-two-wrapper" data-aos="fade-up">
                            <!-- Swiper -->
                            <div class="swiper mySwiper">
                                <div class="swiper-wrapper">
                                    {{ if collections == "testimonial" }}

                                    {{ collection:testimonial  as="testimonial" title:contains="{ get:s }" slug:contains="{ get:s }" paginate={paginate} limit="{limit}" }}

                                    {{ /if }}
                                    {{ testimonial }}
                                   
                                  
                                    <div class="swiper-slide">
                                        <a href="/testimonial" class="testimonial-two-col">
                                            <h2>“</h2>
                                            <p>{{ description }}</p>
                                            <div class="testimonial-two-client">
                                                <div class="testimonial-two-image">
                                                    {{ image }}<img src="{{ url }}" alt="">{{ /image }}
                                                </div>
                                                <div class="testimonial-two-text">
                                                    <h6>{{ title }}</h6>
                                                    <p>{{ position }}</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    {{ /testimonial }}
                                    {{ if collections == "testimonial" }}
                                    {{ /collection:testimonial }}
                                    {{ /if }}
                                </div>
                            </div>
                        </div>
                        <div class="testimonial-two-slide-btn">
                            <div class="testimonial-two-prev-btn">
                                <svg class="slider-btn" width="26" height="26" viewBox="0 0 26 26" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <rect x="1.23242" y="12.2646" width="23.5294" height="1.47059" rx="0.735294"
                                fill="#01452C" />
                                <path d="M1.9668 12.9999C3.68248 12.7548 7.62856 10.9411 9.68738 5.64697"
                                stroke="#01452C" stroke-width="1.3" stroke-linecap="round"
                                stroke-linejoin="round" />
                                <path d="M1.9668 12.9998C3.68248 13.2449 7.62856 15.0587 9.68738 20.3528"
                                stroke="#01452C" stroke-width="1.3" stroke-linecap="round"
                                stroke-linejoin="round" />
                            </svg>
                        </div>
                        <div class="testimonial-two-next-btn">
                            <svg class="slider-btn" width="26" height="26" viewBox="0 0 26 26" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <rect x="24.7637" y="13.7354" width="23.5294" height="1.47059" rx="0.735294"
                            transform="rotate(-180 24.7637 13.7354)" fill="#01452C" />
                            <path d="M24.0293 13.0001C22.3136 13.2452 18.3675 15.0589 16.3087 20.353"
                            stroke="#01452C" stroke-width="1.3" stroke-linecap="round"
                            stroke-linejoin="round" />
                            <path d="M24.0293 13.0002C22.3136 12.7551 18.3675 10.9413 16.3087 5.64722"
                            stroke="#01452C" stroke-width="1.3" stroke-linecap="round"
                            stroke-linejoin="round" />
                        </svg>
                    </div>
                </div>
            </section>